/* Figma Styles of your File */
:root {
  /* Colors */
  --text-main: #ffffff;
  --text-secondary: rgba(255, 255, 255, 0.6);
  --text-tertiary: rgba(255, 255, 255, 0.4);
  --fixedcolor-red: #db4d4d;
  --fixedcolor-green: #58a36e;
  --fixedcolor-orange: #f88543;
  --body-main: #20252c;
  --body-3: #262c35;
  --body-10: #353e4a;
  --body-13: #3c4552;
  --body-15: #404a58;
  --body-18: #475261;
  --dominant-main: #262c35;
  --dominant-3: #2c333e;
  --dominant-10: #3b4553;
  --dominant-13: #424c5c;
  --dominant-15: #465162;
  --dominant-18: #4c586a;
  --accent-main: #119b26;
  --accent-3: #13a929;
  --accent-10: #16c931;
  --accent-13: #18d735;
  --accent-15: #19e037;
  --accent-18: #21e73f;
  --header-main: #353e4a;
  --header-3: #3b4553;
  --header-10: #4a5768;
  --header-13: #515e71;
  --header-15: #556377;
  --header-18: #5b6b7f;
  --subheader-main: #3c4552;
  --subheader-3: #424c5b;
  --subheader-10: #525e6f;
  --subheader-13: #586578;
  --subheader-15: #5c6a7e;
  --subheader-18: #637287;
  --input-main: #353e4a;
  --input-3: #3b4553;
  --input-10: #4a5768;
  --input-13: #515e71;
  --input-15: #556377;
  --input-18: #5b6b7f;
  --filter-main: #3b4553;
  --filter-3: #414c5c;
  --filter-10: #505e71;
  --filter-13: #57657a;
  --filter-15: #5b6a80;
  --filter-18: #617289;
  --tab-main: #353e4a;
  --tab-3: #3b4553;
  --tab-10: #4a5768;
  --tab-13: #515e71;
  --tab-15: #556377;
  --tab-18: #5b6b7f;
  --active-tab-main: #3c4552;
  --active-tab-3: #424c5b;
  --active-tab-10: #525e6f;
  --active-tab-13: #586578;
  --active-tab-15: #5c6a7e;
  --active-tab-18: #637287;
  --menu-level-1-main: #353e4a;
  --menu-level-1-3: #3b4553;
  --menu-level-1-10: #4a5768;
  --menu-level-1-13: #515e71;
  --menu-level-1-15: #556377;
  --menu-level-1-18: #5b6b7f;
  --menu-level-2-main: #3c4552;
  --menu-level-2-3: #424c5b;
  --menu-level-2-10: #525e6f;
  --menu-level-2-13: #586578;
  --menu-level-2-15: #5c6a7e;
  --menu-level-2-18: #637287;
  --menu-level-3-main: #404a58;
  --menu-level-3-3: #465161;
  --menu-level-3-10: #556376;
  --menu-level-3-13: #5c6a7e;
  --menu-level-3-15: #606f84;
  --menu-level-3-18: #67778d;
  --event-main: #2d343e;
  --event-3: #333b47;
  --event-10: #424d5c;
  --event-13: #495464;
  --event-15: #4d596a;
  --event-18: #546173;
  --odd-main: #3e4856;
  --odd-3: #444f5f;
  --odd-10: #536174;
  --odd-13: #5a687c;
  --odd-15: #5e6d82;
  --odd-18: #64758b;
  --active-odd-main: #13a929;
  --active-odd-3: #15b72c;
  --active-odd-10: #18d734;
  --active-odd-13: #1ae537;
  --active-odd-15: #22e63f;
  --active-odd-18: #30e84b;
  --button-main: #13a929;
  --button-3: #15b72c;
  --button-10: #18d734;
  --button-13: #1ae537;
  --button-15: #22e63f;
  --button-18: #30e84b;
  --secondary-button-main: #262c35;
  --secondary-button-3: #2c333e;
  --secondary-button-10: #3b4553;
  --secondary-button-13: #424c5c;
  --secondary-button-15: #465162;
  --secondary-button-18: #4c586a;
  --tooltip-main: #f3f4f5;
  --tooltip-2: #edeff0;
  --tooltip-7: #e0e2e5;
  --tooltip-9: #dadde0;
  --tooltip-12: #d2d5d9;
  --tooltip-14: #ccd0d5;

  /* Fonts */
  --brutal-type-regular-8-px: 400 8px/12px 'Brutal Type', sans-serif;
  --brutal-type-regular-10-px: 400 10px/14px 'Brutal Type', sans-serif;
  --brutal-type-regular-11-px: 400 11px/14px 'Brutal Type', sans-serif;
  --brutal-type-regular-12-px: 400 12px/16px 'Brutal Type', sans-serif;
  --brutal-type-regular-13-px: 400 13px/16px 'Brutal Type', sans-serif;
  --brutal-type-regular-14-px: 400 14px/18px 'Brutal Type', sans-serif;
  --brutal-type-regular-15-px: 400 15px/18px 'Brutal Type', sans-serif;
  --brutal-type-regular-16-px: 400 16px/20px 'Brutal Type', sans-serif;
  --brutal-type-regular-18-px: 400 18px/24px 'Brutal Type', sans-serif;
  --brutal-type-medium-8-px: 500 8px/12px 'Brutal Type', sans-serif;
  --brutal-type-medium-10-px: 500 10px/14px 'Brutal Type', sans-serif;
  --brutal-type-medium-11-px: 500 11px/14px 'Brutal Type', sans-serif;
  --brutal-type-medium-12-px: 500 12px/16px 'Brutal Type', sans-serif;
  --brutal-type-medium-13-px: 500 13px/16px 'Brutal Type', sans-serif;
  --brutal-type-medium-14-px: 500 14px/18px 'Brutal Type', sans-serif;
  --brutal-type-medium-15-px: 500 15px/18px 'Brutal Type', sans-serif;
  --brutal-type-medium-16-px: 500 16px/20px 'Brutal Type', sans-serif;
  --brutal-type-medium-18-px: 500 18px/24px 'Brutal Type', sans-serif;
  --brutal-type-bold-8-px: 700 8px/12px 'Brutal Type', sans-serif;
  --brutal-type-bold-10-px: 700 10px/14px 'Brutal Type', sans-serif;
  --brutal-type-bold-11-px: 700 11px/14px 'Brutal Type', sans-serif;
  --brutal-type-bold-12-px: 700 12px/16px 'Brutal Type', sans-serif;
  --brutal-type-bold-13-px: 700 13px/16px 'Brutal Type', sans-serif;
  --brutal-type-bold-14-px: 700 14px/18px 'Brutal Type', sans-serif;
  --brutal-type-bold-15-px: 700 15px/18px 'Brutal Type', sans-serif;
  --brutal-type-bold-16-px: 700 16px/20px 'Brutal Type', sans-serif;
  --brutal-type-bold-18-px: 700 18px/24px 'Brutal Type', sans-serif;

  /* Effects */
}
